.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.4rem;
    width: 100%;
    button {
        border-color: var(--primary-color);
        background-color: transparent;
    }
}
