.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.4rem;
    width: 100%;
    .button-wrapper {
        border-radius: 25px; /* Adjust as necessary */
        overflow: hidden;
    }
    button {
        background: linear-gradient(-45deg, rgba(255, 0, 0, 0), #eb3a4a, rgba(255, 0, 0, 0));
        border: none;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            border-radius: 8px;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background-color: #000000;
            z-index: -1;
        }
    }
}
