@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*,
*::before,
&::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #eb3a4a;
  --secondary-color: #cacace;
  --heading-color: #e4e4e7;
  --button-color: #e4e4e6;
}

body {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  background-color: black;
  color: var(--primary-color);
  overflow-x: hidden;
}

/* Button */
button.button {
  font-family: "Lexend", sans-serif;
  outline: none;
  border: none;
  display: flex;
  width: 18rem;
  height: 5.6rem;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--primary-color);
  color: var(--button-color);
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;
}

button.button:hover {
  border-radius: 0.8rem;
  border-color: var(--primary-color);
  background-color: transparent;
}

/* MetaData */
span.white {
  color: #f0f0f0;
}
span.red {
  color: var(--primary-color);
}

@media only screen and (max-width: 37.5em) {
  button.button {
    font-size: 18px;
  }
}
